# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
venv/
backend/venv/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Node y React
node_modules/
frontend-react/node_modules/

# Vite
dist/
frontend-react/dist/

# Variables de entorno
.env
.env.*
!.env.example

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
